# Ignore complier output
*.[ao]
# Ignore VIM temp files
.*.sw*
# Ignore other temp files
~*
SCRATCH
# Gedit temp files
*~
# Eclipse Project Files
.project
.cproject
.settings/
# DAT, OUT, INF
*.DAT
*.OUT
*.INF
*.IUP
# Ignore ia and oa directories
ia/
oa/
# Ignore acpgcrg and acpgdrg
acpgcrg/
acpgdrg/
# individual binary files
acpga/acpga
acpgb/acpgb
acpgc/acpgc
acpgd/acpgd
acpgf6/acpgf6
calpt/calpt
ltcva/ltcva
pga/pga
pgb/pgb
pgc/pgc
pgd/pgd
pltb/pltb
pltdd/pltdd
rdvel2/rdvel2
repl4/repl4
spt/spt
systems/
transf1/transf1
bbspec/bbspec
datconv/datconv
difcorr/difcorr
dvflcr/dvflcr
genrmdat/genrmdat
horzplta/horzplta
increm/increm
ltres/ltres
pgcac/pgcac
pgf/pgf
pgg/pgg
pgh10/pgh10
pgh11/pgh11
pgh13/pgh13
pgh14/pgh14
pgh3/pgh3
pgh4/pgh4
pgh5/pgh5
pgh7/pgh7
pgh8/pgh8
pgh9/pgh9
repl1/repl1
repl2/repl2
repl3/repl3
repl5/repl5
repl6/repl6
set0/set0
set00/set00
set1/set1
set3/set3
set4/set4
summary/summary
transf3/transf3
