# Ignore complier output
*.[ao]
# Ignore VIM temp files
.*.sw*
# Ignore other temp files
~*
SCRATCH
# Gedit temp files
*~
# Eclipse Project Files
#.project
#.cproject
#.settings/
# DAT, OUT, INF
#*.DAT
#*.OUT
#*.INF
#*.IUP
TODO
# fort.6 - unknown byproducts
fort.6
# Ignore ia and oa directories
#ia/
#oa/
# Ignore backup directories
iabackup/
oabackup/
# Ignore new .DAT and .INF files
*.DAT
*.INF
ia/*.ILS
# Ignore acpgcrg and acpgdrg
acpgcrg/
acpgdrg/
acpgcrg.old/
acpgdrg.old/
# individual binary files
acpga/acpga
acpgb/acpgb
acpgc/acpgc
acpgd/acpgd
acpgf6/acpgf6
calpt/calpt
ltcva/ltcva
pga/pga
pgb/pgb
pgc/pgc
pgd/pgd
pltb/pltb
pltdd/pltdd
rdvel2/rdvel2
repl4/repl4
spt/spt
transf1/transf1
bbspec/bbspec
datconv/datconv
difcorr/difcorr
dvflcr/dvflcr
genrmdat/genrmdat
grpa/grpa
grpb/grpb
grpc/grpc
grpd/grpd
grpe/grpe
horzplta/horzplta
increm/increm
ltres/ltres
lgtsyn2/lgtsyn2
lgtsyn3/lgtsyn3
noitct/noitct
pedcs/pedcs
pgb/make.out
pgcac/pgcac
pgf/pgf
pgg/pgg
pgh1/pgh1
pgh10/pgh10
pgh11/pgh11
pgh12/pgh12
pgh13/pgh13
pgh14/pgh14
pgh2/pgh2
pgh3/pgh3
pgh4/pgh4
pgh5/pgh5
pgh6/pgh6
pgh7/pgh7
pgh8/pgh8
pgh9/pgh9
pgs/pgs
repl1/repl1
repl2/repl2
repl3/repl3
repl5/repl5
repl6/repl6
set0/set0
set00/set00
set1/set1
set3/set3
set4/set4
summary/summary
#systems/
systems/RWSex
transf3/transf3
